# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'openbare',
        'USER': 'MY_DATABASE_USERNAME',
        'PASSWORD': 'MY_DATABASE_PASSWORD',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}
